<ion-header>
  <ion-toolbar color="primary">
    <ion-title> <img src="assets/images/logo.png" class="logo" /> </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      My Details
    </ion-card-header>
    <ion-card-content>
      Update this form with your details so you have an easy reference for later.
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <form [formGroup]="myDetailsForm" (input)="saveForm()">
      <ion-item>
        <ion-label position="stacked">Car Registration</ion-label>
        <ion-input formControlName="carRegistration" type="text"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Trailer Registration</ionlabel>
          <ion-input formControlName="trailerRegistration" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Trailer Dimensions</ionlabel>
          <ion-input formControlName="trailerDimensions" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Phone Number</ion-label>
        <ion-input formControlName="phoneNumber" type="text"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Notes</ion-label>
        <ion-textarea formControlName="notes" type="text">
          </iontextarea>
      </ion-item>
    </form>
  </ion-list>

</ion-content>